body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	background-color: rgb(246, 246, 246);	
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
}

/* APPLIES CSS TO ALL THE ELEMENTS*/
* {
	box-sizing: border-box;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}