body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	/*background-color: rgb(246, 246, 246);*/
	background: #EBEBEB url('/assets/images/ignasi_pattern_s.png') /*From Subtle Patterns*/
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

/* APPLIES CSS TO ALL THE ELEMENTS*/
* {
	box-sizing: border-box;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}