body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	/*background-color: rgb(246, 246, 246);*/
	background: #EBEBEB url('/assets/images/ignasi_pattern_s.png') /*From Subtle Patterns*/
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

/* APPLIES CSS TO ALL THE ELEMENTS*/
* {
	box-sizing: border-box;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}


  @keyframes rubberBand {
	  0% {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	  }
	  30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	  }
	  40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	  }
	  50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	  }
	  65% {
	  -webkit-transform: scale3d(.95, 1.05, 1);
	  transform: scale3d(.95, 1.05, 1);
	  }
	  75% {
	  -webkit-transform: scale3d(1.05, .95, 1);
	  transform: scale3d(1.05, .95, 1);
	  }
	  100% {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	  }
  }


  @keyframes bounceInUp {
	  0%, 60%, 75%, 90%, 100% {
	  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	  }
	  0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 3000px, 0);
	  transform: translate3d(0, 3000px, 0);
	  }
	  60% {
	  opacity: 1;
	  -webkit-transform: translate3d(0, -20px, 0);
	  transform: translate3d(0, -20px, 0);
	  }
	  75% {
	  -webkit-transform: translate3d(0, 10px, 0);
	  transform: translate3d(0, 10px, 0);
	  }
	  90% {
	  -webkit-transform: translate3d(0, -5px, 0);
	  transform: translate3d(0, -5px, 0);
	  }
	  100% {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  }
  }