.btn {
	border: 1px solid #2f323a;
	transition: all 0.25s ease;
	padding: .3rem;


	&--small {
		max-height: 44px;
		border-color: #fff;

		&:hover {
			color: #800080;
			border-color: #800080;
		}
	}

	&--large{
		background: #fff;
    	border-radius: 3px;
    	cursor: pointer;
		z-index: 5;

		&:hover {
			color: $mainPink;
			border-color: $mainPink;
	    	}

		@mixin atSmall {
			padding: 2rem 5rem 2rem 5rem;
		}

		@mixin atMedium {
			padding: 2rem 8rem 2rem 8rem;
		}

	}
}