.btn {
	border: 1px solid #2f323a;
	transition: all 0.25s ease;
	padding: .3rem;
	
	&:hover {
		color: $mainPink;
		border-color: $mainPink;
    	}

	&--small {
		max-height: 44px;
		border-color: #fff;
	}

	&--large{
		background: rgb(246, 246, 246);
    	border-radius: 3px;
    	cursor: pointer;
		
		@mixin atSmall {
			padding: 2rem 8rem 2rem 8rem;
		}

	}
}