.circles {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__container {
		max-width: 800px;
		display: block;
		position: relative;
		float: none;
		margin: 0 auto;

	}

	&__circle {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: $mainBlue;
		display: inline-block;
		float: left;
		margin:0 1rem;
		transition: all .3s ease;

		&--blue {
			background-color: $mainBlue;
			animation-delay: 0.1s;
		}

		&--pink {
			background-color: $mainPink;
			animation-delay: 0.2s;
		}

		&--purple {
			background-color: #800080;
			animation-delay: 0.3s;
		}

		&--aqua {
			background-color: #27D2A6;
			animation-delay: 0.4s;
		}
	}
}