.site-footer {
	position: relative;
	padding: 1.5rem;
	background-color: $mainPink;
	overflow: hidden;
	color: #fff;
	text-align: center;
	
		&::before{
		display: block;
	    position: absolute;
	    top: -4px;
	    left: 0;
	    z-index: 3;
	    background: url(/assets/fonts/edge-white.svg) repeat-x 50% 0;
	    background-size: auto 100%;
	    width: 100%;
	    height: 12px;
	    content: "";
	    transform: rotate(180deg);
	}

	&__footer-item {
		display: inline-block;
		padding: 0 5px 0 5px;

		@mixin atSmall {
			float: left;
		}
	}

	&__copyright {
		padding: 15px 15px 0px 15px;

		@mixin atSmall {
			float: right;
		}
	}

	a {
		 color: #fff;
		 text-decoration: none;
		 transition: all .3s ease-in;
	}

	a:hover {

		color: $mainBlue;
	}

}
