.site-footer {
	padding: 1.5rem;
	margin: 1.5rem 0 0 0;
	background-color: $mainPink;
	overflow: hidden;
	color: #fff;

	a {
		 color: #fff;
		 text-decoration: none;
		 transition: all .3s ease-in;
		}

	a:hover {
			text-decoration: underline;
		}
}