.page-section {
	cursor: default;
	padding: 2rem 0;
	margin: 2rem 0;

	@mixin clearfix;

	@mixin atMedium {
		padding: 2rem 0;
		margin: 6rem 0;
	}

	&--about {
		transition: background-color .3s ease;

		@mixin atMedium {
			margin: 6rem auto;
			max-width: 1100px;
		}

		&__main-img{
			margin-bottom: 20px;
			line-height: 0;
			background-color: $mainPink;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			position: relative;
			border: 1px solid #fff;
			border-radius: 1px;
		}
	}


	&--pink {
		transition: background-color 1s ease;
		background-color: rgba($mainPink, 0.05);
	}

	&--blue{
		background-color: rgba($mainBlue, 0.05);
	}

	&--aqua{
		border-bottom: 1px solid #f1f1f1;
		border-top: 1px solid #f1f1f1;;
	}

	&--purple{
		background-color: rgba($mainPurple, 0.1);
	}

	&--bigger-padding {

		padding-bottom: 1.5rem;

		@mixin atSmall {
			padding: 5rem;
			padding-bottom: 10rem;
		}
	}

	&--no-top-padding{

		@mixin atMedium {
			padding-top: 0;
		}
	}

	&--lesser-margin {
		margin: 0;
	}


	&__title {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		margin: 1.125rem;
		padding: 0;
		color: #333;

		&--no-bottom-margin{
			margin-bottom: 0;
			padding-bottom: 0;
		}

		&--icon {
			margin-right: 10px;
		}

		a {
			color: #333;
			transition: color .3s ease;

			&:hover {
				color: $mainBlue;
			}
		}

		@mixin atSmall{
			font-size: 4rem;
			font-weight: 700;
		}
	}

	&__subtitle {
		font-size: 1.5rem;
		font-weight: 500;
		text-align: center;

		&--for-big-screen {
			display: none;

			@mixin atSmall {
				display: block;
			}
		}
	}

	&__big-text-content {
		text-align: center;
		font-size: 1.2rem;
		padding-bottom: 2rem;

	}

	&__text-content {
		word-spacing: 0.3rem;
		font-size: 1rem;
		text-align: left;
		padding-top: .4rem;
		transition: color .3s ease;

		&--small {
			font-size: 1rem;

			@mixin atSmall {
				font-size: 1rem;
			}

			@mixin atMedium {
				font-size: 1rem;
			}
		}

		&--highlighted {
			color: #333;
			transition: color .3s ease;
		}

		@mixin atSmall{
			font-size: 1.2rem;
		}

		@mixin atMedium {
			margin-top: 0px;
		}
	}
}