.primary-nav {
	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;

	}

	&--pull-right{

		@mixin atMedium {
			float: right;
		}
	}
	
	ul {
		margin:0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		padding-right: 7px;
		display: inline-block;

		@mixin atMedium {
			padding-right: 20px;
			float: left;
			display: block;
		}

		li:last-child {
			padding-right: 0;

			@mixin atMedium {
				padding-right: 20px;
			}
		}

	}

	a {
		padding: 5px 8px;
		text-decoration: none;
		font-weight: 300;
		color: #fff;
		display: block;
		outline: none;
		transition: border .3s ease-out;
		
		@mixin atMedium {
		padding: 14px;	
		background-color: transparent;

			&.is-current-link {
				height: 44px;
				border-bottom: 2px solid #fff;	
			}
		}
	}
}