
.row {

	&__medium-8{

		@mixin atMedium {
			width: 63%;
			float: left;
		}
	}

	&__medium-6{
		margin-top: 0;
		padding-top: 0;

		@mixin atMedium{
			display: flex;
			width: 50%;
			float: left;
		}
	}

	&__medium-4{

		@mixin atMedium {
			width: 37%;
			float: left;
		}
	}

	&__small-4 {

		@mixin atSmall{
			max-width: 50%;
			float: left;
		}

		@mixin atMedium {
			max-width: 33.333%;
			float: left;
		}

		&--text {
			max-width: 100%;
			padding: 0 15px;
			margin: 0;
			@mixin atMedium {
				margin: 5px;
				max-width: 31.333%;
				float: left;
				display: table-cell;
				height: 111.5%;
			}
		}

	}

	&--gutters {

		@mixin atMedium {
			padding-right: 20px;
		}

		@mixin atLarge {
			padding-right: 65px;
		}
	}
}