.super-large-text {
	position: relative;
	

	&__content{
		text-align: center;
		
	}
	
	&__headline {
		padding: 0;
		margin: 0;
		font-size: 3rem;
		color: #fff;
		
		@mixin atSmall{
			font-size: 8rem;
		}

		@mixin atMedium{
			font-size: 10rem;
		}
	}

	&__lesser-headline {
		font-size: 1rem;

		@mixin atSmall{
			font-size: 3rem;
		}
	}

}