.super-large-text {
	position: relative;
	height: 400px;
	overflow: hidden;
	background: linear-gradient(-45deg, #EA527D, #E73C7E, #23A6D5, #23D5AB, #43C181);
	background-size: 500% 500%;
	animation: Gradient 30s ease infinite;
	
	&::before{
		display: block;
	    position: absolute;
	    bottom: -1px;
	    left: 0;
	    z-index: 3;
	    background: url(/assets/fonts/edge-white.svg) repeat-x 50% 0;
	    background-size: auto 100%;
	    width: 100%;
	    height: 12px;
	    content: "";
	}

	@mixin atSmall{
		height: 600px;
	}

	&__content{
		padding-top: 35%;
		text-align: center;

		@mixin atSmall {
			padding-top: 22%;
		}

		@mixin atMedium{
			padding-top: 12%;
		}
	}
	
	&__headline {
		padding: 0;
		margin: 0;
		font-size: 3rem;
		color: #fff;
		font-family: "Permanent Marker", cursive;
		font-weight: 100;
		text-shadow: .5px .5px 3px #333;
		
		@mixin atSmall{
			font-size: 5rem;
		}

		@mixin atMedium{
			font-size: 7rem;
		}
	}

	&__lesser-headline {
		font-weight: 100;
		font-size: 1.1rem;
		color: #fff;

		@mixin atSmall{
			font-size: 2rem;
		}
	}

}