.works-item {
	position: relative;
    width: 100%;
    height: auto;
	display: inline-block;
	overflow: hidden;
    transition: all .6s ease;
    padding: 15px;


	&__description {
		margin: 0;
		padding: 20px;
		height: 50px;
		transform: translateY(-3px);
		transition: all .3s ease;

		h4 {
			font-size: 1.2rem;
			margin: 0;
		}
	}

	&:hover {
		div {
			width: 100%;
		}

		p {
			display: inline-block;
		}
	}

	&__image {
	    transition: all .6s ease;
	}

	&__relative-padding {
		position: relative;
	}

	&__text-area{
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 3px;
	    border: 0 !important;
	    z-index: 1;
	    padding-top: 35%;
		background-color: rgba($mainPink, 0.9);
		text-align: center;
		width: 0;
	    transition: width .6s ease;


		p{
			display: none;
			padding: 5%;

			@mixin atSmall {
				font-size: 1.5rem;
			}
		}

	    a{
	    	text-decoration: none;
	    	color: #fff;
	    	transition: all .6s ease;

	     	&:hover {
				color: $mainBlue;
	     	}
	    }

	}
}